<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the Movies</title>
</head>
<body>
    <header style="text-align: center;">
    <h1 >The Movies</h1>
    <hr>
</header>
