<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <% if(nome) {%>
        <center><h1>Perfil</h1></center>
        <hr>
        <p>Olá <%=nome%>, seja bem vindo ao seu perfil!</p>
    <%}else{%>
        <center><h1>Bem vindo! faça seu login!</h1></center>
        <hr>
    <%}%>
</body>
</html>