<<<<<<< HEAD
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center><h1>Seja bem vindo!</h1></center>
    <hr>
    <h3><b>Iniciando os estudos com Node.js e Express</b></h3>

</body>
=======
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center><h1>Seja bem vindo!</h1></center>
    <hr>
    <h3><b>Iniciando os estudos com Node.js e Express</b></h3>

</body>
>>>>>>> 8e8bfd660688a19fb283e0b6caad1ba0246f383e
</html>