<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

    <center><h1>Seja bem vindo!</h1></center>
    <hr>
    <h3><b>Iniciando os estudos com Node.js e Express</b></h3>
    <img src="/imgs/img01.png" alt="NodeJS">

<%- include ('partials/footer.ejs')%>