<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

    <% if(nome) {%>
        <center><h1>Perfil</h1></center>
        <hr>
        <p>Olá <%=nome%>, seja bem vindo ao seu perfil!</p>
    <%}else{%>
        <center><h1>Bem vindo! faça seu login!</h1></center>
        <hr>
    <%}%>

    <%- include ('partials/footer.ejs')%>