
<body style="margin: 0; line-height: 30px;">
    <header style="background-color:#508fe0;">
        <h1 style=" text-align: center; color: #fff;">Bem vindo(a) a Loja!</h1>
        <br>
    </header>    
